/* let's style the page using styleshhet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body {
  font-family: Arial;
  background-color: whitesmoke;
 }
 a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }
/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  color: black;
 }
 .nav-links a {
  color:black;
 }
 /* LOGO */
 .logo {
  font-size: 32px;
 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  background-color: red;
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
 }
 section{
  width: 60%;
  float: right;
  background-color: whitesmoke;
  height: 530px;
  padding: 10px;
 }
 .left{
  width: 40%;
  background-color: lightcoral;
  height: 530px;
  padding: 10px;
 }
 .text-center {
  text-align: left;
  background-color: #754514;
  height: 150px;
  padding-left: 10% ;
  padding-top: 80px;
}